/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  width: 100%;
  height: 490px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
    /*padding: 10px 0px 10px 15px;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-primary {
  color: #fff;
  background-color: #50147F;
  border-color: #50147F;
  background-image: linear-gradient(to bottom,#50147F 0,#47007F 100%);
  margin: 15px 15px;
}

.thumbnail {
    padding: 0px;
    border: 1px solid transparent;
    margin-top: 15px;
    margin-left: 20px;
}

.thumbnail:hover .overlay { 
      opacity:1;
  }
  .overlay {
      opacity:0;
  }

#footer {
  color: #fff;
  background-color: #50147F;
  padding: 60px 0 40px;
}

@media screen and (min-width: 480px) {
}